body {
	font-family: 'Lato', sans-serif;
	
}

.container {
	padding-top: 50px;
	max-width: 1200px;
	width: 80%;
	margin: 0 auto;
}

table {
	width:400px;
}

thead {
	font-size:18px;
	font-weight:normal;
}

thead, tbody {
	text-aling: center;
	font-weight: bold;
}
tbody tr {
	text-align: center;
}

tbody tr:nth-child(1) {
	color:red;
}

tbody tr:nth-child(3) {
	color:blue;
}

tbody tr:nth-child(2) {
	color:green;
}