<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CicekSepeti Hackathon</title>
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet">
<link rel="stylesheet" href="./styles.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<table id="table">
			<thead>
				<tr>
					<th>Dealer</th>
					<th>Minimum</th>
					<th>Maximum</th>
					<th>Current</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dealer : ${dealersList}">
					<td th:text="${dealer.name}"></td>
					<td th:text="${dealer.min}"></td>
					<td th:text="${dealer.max}"></td>
					<td th:text="${dealer.orders.size()}"></td>
				</tr>
			</tbody>
		</table>
		<canvas id="myChart"></canvas>

	<script type="text/javascript" th:src="@{/chart.min.js}"></script>
	<script type="text/javascript" th:src="@{/chart.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/app.js}"></script>
	<script type="text/javascript" th:inline="javascript">
    	var dealers = JSON.parse([[${dealers}]]);
    	dealers.forEach((dealer) => {
    		pushToChart(dealer.name, dealer.location.latitude, dealer.location.longtitude);
    		dealer.orders.forEach((order) => {
    			var orderLabel = dealer.name[0] + '-Orders';
    			pushToChart(orderLabel, order.location.latitude, order.location.longtitude);
    		});
    	});
    	updateChart();
	</script>
</body>
</html>